# Ignoring in root directory

.DS_Store


# Ignoring files in project loan_repayment

loan_repayment/

!loan_repayment/loan_repayment.ipynb


# Ignoring files in project employees_attrition

#employees_attrition/

!employees_attrition/employee_attrition.ipynb
