# Ignoring in root directory

.DS_Store


# Ignoring files in project loan_repayment

loan_repayment/

!loan_repayment/loan_repayment.ipynb


# Ignoring files in project employees_attrition

employees_attrition/

!employees_attrition/employee_attrition.ipynb


# Ignoring files in project apartment_sales

apartment_sales/

!apartment_sales/apartment_sales.ipynb


# Ignoring files in project games_sales

games_sales/

!games_sales/games_sales.ipynb


# Ignoring files in project metrics_analysis

metrics_analysis/

!metrics_analysis/metrics_analysis.ipynb


# Ignoring files in project a_b_test

a_b_test/

!a_b_test/a_b_test.ipynb


# Ignoring files in project event_analytics

event_analytics/

!event_analytics/event_analytics.ipynb

